<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net472" />
  <package id="Litium.Abstractions" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Foundation" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Foundation.GUI" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Framework.Search" version="5.1.0" targetFramework="net472" />
  <package id="Litium.Owin" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Studio" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Studio.Packages" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.DotNetZip" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Utilities" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Web.Abstractions" version="7.1.0" targetFramework="net472" />
  <package id="Litium.Web.Administration.Abstractions" version="7.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>