<field-editor [field]="field">
    <p preview>
        <agm-map *ngIf="init"
                [latitude]="getCurrentLocation(previewModeKey, viewLanguage)?.lat" 
                [longitude]="getCurrentLocation(previewModeKey, viewLanguage)?.lng"
                [zoom]="getZoom(previewModeKey, viewLanguage) || 10"
                [streetViewControl]="false"
                (centerChange)="onCenterChange($event, previewModeKey, viewLanguage)"
                (zoomChange)="onZoomChange($event, previewModeKey, viewLanguage)"
        >
            <agm-marker [latitude]="getValue(viewLanguage)?.lat" 
                        [longitude]="getValue(viewLanguage)?.lng"></agm-marker>
        </agm-map>
    </p>
    <div edit>
        <agm-map *ngIf="init && field.editable === true" [streetViewControl]="false"
                [latitude]="getCurrentLocation(editModeKey, editLanguage)?.lat" 
                [longitude]="getCurrentLocation(editModeKey, editLanguage)?.lng"
                [zoom]="getZoom(editModeKey, editLanguage) || 10"
                (centerChange)="onCenterChange($event, editModeKey, editLanguage)"
                (zoomChange)="onZoomChange($event, editModeKey, editLanguage)"
                (mapRightClick)="onLocationChoose($event.coords)"
        >
            <agm-marker [latitude]="getValue(editLanguage)?.lat" 
                        [longitude]="getValue(editLanguage)?.lng"></agm-marker>

            <agm-search-box [placeholder]="'Search and select a location or right click on the map'" [position]="searchPosition" 
                (placesChange)="onLocationChoose({ lat: $event[0].geometry.location.lat(), lng: $event[0].geometry.location.lng() })"></agm-search-box>
        </agm-map>
    </div>
</field-editor>